name: CI Workflow

on:
  push:
    branches: [ "main" ]

jobs:
  mlflow-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: conda.yaml
          activate-environment: mlflow-env
          python-version: 3.10
      - shell: bash -l {0}
        run: |
          pip install mlflow
          conda run -n mlflow-env mlflow run . --no-conda
