name: Workflow CI MLflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  mlflow-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
            pip install mlflow dagshub pandas scikit-learn matplotlib seaborn
            pip install -r requirements.txt

      - name: Run MLflow Project
        env:
            MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
            MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
        run: python MLProject/modelling.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-results
          path: mlruns/
